


    <section>
        <div class="container mt-3">
            <div class="row">
                {{#each cat}}

                <div class="col-md-6 col-lg-3 col-sm-12 ">
                    <div class="card" style="width:;">
                        <img class="card-img-top" src="{{img}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{disc}}</p>
                            <a href="#" class="btn btn-warning">Shop Now</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>


  